[Desktop Entry]
Name=Markdown Viewer
Exec=markdown-viewer %u
Terminal=false
Type=Application
Icon=com.github.jsol.markdownviewer
Comment=Markdown file viewer
Categories=Utility
TryExec=markdown-viewer

